<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>387195550708-635mq0jothi00iadv8oij0vo1im5sovg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387195550708-635mq0jothi00iadv8oij0vo1im5sovg</string>
	<key>API_KEY</key>
	<string>AIzaSyDKOCKVcVTHx54uqaXw6IIQDiP0ziS-Zfw</string>
	<key>GCM_SENDER_ID</key>
	<string>387195550708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.chidiemeh184.Instagram-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instagram-firebase-e903f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-firebase-e903f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:387195550708:ios:049deeed03ce3950</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-firebase-e903f.firebaseio.com</string>
</dict>
</plist>